{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title"
                           placeholder="Title"
                           value="{{ request.form.get('title', '') }}"></input>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea name="content" placeholder="Post content"
                              class="form-control">{{ request.form.get('content', '') }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}