{% extends "base.html" %}
{% block content %}
<h1>Вхід для адміністратора</h1>
<form method="post">
    <div class="mb-3">
       <label for="username" class="form-label">Ім'я користувача</label>
       <input type="text" class="form-control" name="username" id="username" required>
    </div>
    <div class="mb-3">
       <label for="password" class="form-label">Пароль</label>
       <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Увійти</button>
</form>
{% endblock %}
